/* Header Sizes */
/* Color Themes */
/* Fonts */
@font-face {
  font-family: 'Alike';
  font-style: normal;
  font-weight: 400;
  src: local('Alike Regular'), local('Alike-Regular'), url(https://fonts.gstatic.com/s/alike/v11/HI_EiYEYI6BIoHjGQ5E.ttf) format('truetype');
}
@font-face {
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: 400;
  src: local('Reem Kufi Regular'), local('ReemKufi-Regular'), url(https://fonts.gstatic.com/s/reemkufi/v6/2sDcZGJLip7W2J7v7wQzaGW8.ttf) format('truetype');
}
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 100;
  src: local('Yantramanav Thin'), local('Yantramanav-Thin'), url(https://fonts.gstatic.com/s/yantramanav/v4/flU-Rqu5zY00QEpyWJYWN5-QbeR5CA.ttf) format('truetype');
}
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 300;
  src: local('Yantramanav Light'), local('Yantramanav-Light'), url(https://fonts.gstatic.com/s/yantramanav/v4/flUhRqu5zY00QEpyWJYWN59Yf_NeKBY.ttf) format('truetype');
}
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 400;
  src: local('Yantramanav Regular'), local('Yantramanav-Regular'), url(https://fonts.gstatic.com/s/yantramanav/v4/flU8Rqu5zY00QEpyWJYWN5fzXeM.ttf) format('truetype');
}
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 700;
  src: local('Yantramanav Bold'), local('Yantramanav-Bold'), url(https://fonts.gstatic.com/s/yantramanav/v4/flUhRqu5zY00QEpyWJYWN59IePNeKBY.ttf) format('truetype');
}
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 900;
  src: local('Yantramanav Black'), local('Yantramanav-Black'), url(https://fonts.gstatic.com/s/yantramanav/v4/flUhRqu5zY00QEpyWJYWN59wevNeKBY.ttf) format('truetype');
}
/* Styles */
.homeHeader .header-card-container {
  width: 100%;
  height: 100%;
}
.homeHeader .header-card-container .cardImg {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.homeHeader .header-card-container .cardImg:before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #151280, #257728 90%);
  opacity: 0.5;
}
.homeHeader .header-card-container .cardImg img {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  -webkit-filter: grayscale(70%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(70%);
}
.homeHeader .header-card-container .frontInfo {
  position: absolute;
  top: 40%;
  left: 7%;
  color: #ffffff;
  transform: translate(-7%, -40%);
  width: 50%;
  z-index: 2;
  padding: 5%;
}
.homeHeader .header-card-container .frontInfo h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.homeHeader .header-card-container .frontInfo h1 span {
  display: block;
}
.homeHeader .header-card-container .frontInfo p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
@media (max-width: 770px) {
  .homeHeader .header-card-container .frontInfo {
    width: 80%;
    top: 70%;
    transform: translate(-7%, -70%);
  }
  .homeHeader .header-card-container .frontInfo h1 {
    font-size: 1.5rem;
  }
  .homeHeader .header-card-container .frontInfo p {
    font-size: 1rem;
  }
}
.homePage {
  padding-top: 100px;
}
.homePage .home-section {
  position: relative;
  overflow: hidden;
}
.homePage .home-section + .home-section {
  margin-top: 80px;
}
.homePage .home-section .section-container {
  position: relative;
  z-index: 5;
  padding: 10px 5%;
}
.homePage .home-section .section-container .lrgTitle {
  margin-bottom: 20px;
}
.homePage .home-section .section-container .section-txt {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 100;
}
.homePage .home-section .section-container .studyTabs {
  padding: 10px 0px;
}
.homePage .home-section .section-container .studyTabs .tabPanel {
  display: flex;
  flex-direction: row;
}
.homePage .home-section .section-container .studyTabs .tabPanel .tabItem {
  display: inline-flex;
  flex-direction: column;
  width: 20%;
  padding: 30px 10px;
  text-align: center;
  color: #ffffff;
  font-weight: 100;
  border-bottom: 2px solid rgba(150, 150, 150, 0.3);
  cursor: pointer;
}
.homePage .home-section .section-container .studyTabs .tabPanel .tabItem.selected {
  color: #9696c8;
  border-color: #9696c8;
}
.homePage .home-section .section-container .studyTabs .tabPanel .tabItem:hover {
  color: #c8c8c8;
  border-color: #c8c8c8;
}
.homePage .home-section .section-container .studyTabs .tabPanel .tabItem .studyicon {
  font-size: 3rem;
  margin-bottom: 20px;
}
.homePage .home-section .section-container .studyTabs .tabPanel .tabItem span {
  font-size: 2rem;
  line-height: 2rem;
}
.homePage .home-section .section-container .studyTabs .tabContent {
  padding: 50px 20px 30px;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #ffffff;
  font-weight: 100;
  display: flex;
  flex-direction: row;
}
.homePage .home-section .section-container .studyTabs .tabContent .img-container {
  padding: 10px;
  margin-right: 15px;
  width: 45%;
}
.homePage .home-section .section-container .studyTabs .tabContent .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #ffffff;
  -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.homePage .home-section .section-container .studyTabs .tabContent .content-info {
  flex: 1;
}
.homePage .home-section .section-container .facts-container {
  display: flex;
  flex-direction: row;
  padding: 120px 7%;
}
.homePage .home-section .section-container .facts-container .factItem {
  padding: 30px 20px;
  text-align: center;
  width: 33%;
  font-weight: 100;
  display: inline-flex;
  flex-direction: column;
}
.homePage .home-section .section-container .facts-container .factItem .item-number .number {
  font-size: 75px;
  font-weight: 300;
  line-height: 100px;
  font-family: 'Reem Kufi', sans-serif;
}
.homePage .home-section .section-container .facts-container .factItem .item-number .itemSub {
  margin-left: 7px;
  font-size: 30px;
}
.homePage .home-section .section-container .facts-container .factItem .item-text {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 300;
}
.homePage .home-section .section-container .facts-container .factItem + .factItem {
  border-left: 3px solid rgba(0, 0, 0, 0.5);
}
@media (max-width: 770px) {
  .homePage .home-section .section-container .facts-container {
    flex-direction: column;
    padding: 50px 7%;
  }
  .homePage .home-section .section-container .facts-container .factItem {
    width: 100%;
  }
  .homePage .home-section .section-container .facts-container .factItem + .factItem {
    border-left: none;
    border-top: 3px solid rgba(0, 0, 0, 0.5);
  }
}
.homePage .home-section .section-container .split-section {
  display: flex;
  flex-direction: row;
}
.homePage .home-section .section-container .split-section .multi-img-container {
  width: 45%;
  padding: 10px;
  position: relative;
}
.homePage .home-section .section-container .split-section .multi-img-container .lrg {
  width: 100%;
  object-fit: cover;
  border: 2px solid #ffffff;
  transform: scaleX(-1);
  -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.homePage .home-section .section-container .split-section .multi-img-container .sm {
  width: 40%;
  position: absolute;
  right: 0;
  bottom: 0;
  background: #ffffff;
  border: 2px solid #ffffff;
  -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
@media (max-width: 770px) {
  .homePage .home-section .section-container .split-section .multi-img-container {
    width: 100%;
  }
}
.homePage .home-section .section-container .split-section .split-content {
  margin-left: 30px;
  flex: 1;
}
.homePage .home-section .section-container .split-section .split-content p {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 100;
  margin-bottom: 20px;
  line-height: 3.2rem;
}
@media (max-width: 770px) {
  .homePage .home-section .section-container .split-section {
    flex-direction: column;
  }
}
.homePage .home-section .section-container .testimonial-carousel .carousel .slider-wrapper .slider .slide {
  background: rgba(0, 0, 0, 0);
}
.homePage .home-section .section-container .testimonial-carousel .carousel .control-arrow:hover {
  background: rgba(0, 0, 0, 0) !important;
}
.homePage .home-section .section-container .testimonial-carousel .carousel .control-arrow:hover:before {
  color: #151280 !important;
}
.homePage .home-section .section-container .testimonial-carousel .testimonial-item {
  text-align: center;
  padding: 30px 10% 70px;
  font-family: 'Reem Kufi', sans-serif;
}
.homePage .home-section .section-container .testimonial-carousel .testimonial-item p {
  font-size: 1.7rem;
}
.homePage .home-section .section-container .testimonial-carousel .testimonial-item .testimonial-title {
  font-size: 1rem;
  color: #257728;
  font-weight: bold;
}
.homePage .home-section .section-container .testimonial-carousel .testimonial-item .testimonial-title span {
  font-style: italic;
}
@media (max-width: 770px) {
  .homePage .home-section .section-container .testimonial-carousel .testimonial-item {
    padding: 20px 7%;
  }
  .homePage .home-section .section-container .testimonial-carousel .testimonial-item p {
    font-size: 1.3rem;
  }
}
.homePage .home-section .back-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  object-fit: cover;
  opacity: 0.2;
  min-height: 100%;
}
.homePage .home-section .back-img:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: #ffffff;
}
.homePage .home-section .back-img img {
  width: 110%;
  min-height: 100%;
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}
.homePage .home-section.alternate {
  background: rgba(255, 255, 255, 0.7);
  color: #000000;
}
.homePage .home-section.patterned:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
  /*https://www.svgbackgrounds.com*/
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23151280'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
body,
html {
  margin: 0px !important;
  color: #000000;
  height: 100%;
  font-size: 14px;
  font-family: 'Yantramanav', sans-serif;
}
*:focus {
  outline: none;
}
.app-body {
  background-image: linear-gradient(to right, rgba(80, 78, 153, 0.7), rgba(80, 78, 153, 0.3) 90%);
  padding: calc(100vh - 49px) 3% 0;
}
@media (max-width: 770px) {
  .app-body {
    padding: 0px;
  }
}
.app-header-body {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100vh - 31px);
  width: 100%;
  z-index: 0;
}
.app-header-body .header-cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: linear-gradient(to right, #8583b8, #cacae0 100%);
}
.app-header-body .header-cover.appear {
  z-index: 3;
  opacity: 1;
  animation: background-appear 0.5s;
}
.app-header-body .headerCard {
  width: 100%;
  height: calc(100vh - 31px);
  margin-top: 31px;
}
@media (max-width: 770px) {
  .app-header-body {
    position: relative;
  }
}
.app-inner-body {
  width: 100%;
  min-height: 100vh;
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  background: #504e99;
  position: relative;
  z-index: 2;
}
.app-inner-body .inner-page-body {
  margin: 20px 0px;
}
.footer {
  position: relative;
  padding: 30px 2%;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Reem Kufi', sans-serif;
}
.footer .footer-section {
  width: 40%;
}
.footer .footer-section.full {
  width: 100%;
}
.footer .footer-section .footer-logo {
  height: 75px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.footer .footer-section .footer-logo img {
  height: 100%;
}
.footer .footer-section .footer-logo .textLogo {
  padding-left: 7px;
  padding-top: 7px;
  font-size: 21px;
}
.footer .footer-section .footer-info {
  font-size: 1.2rem;
  margin-left: 7px;
}
.footer .footer-section .footer-link-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer .footer-section .footer-link-section .footer-link {
  width: 33%;
  padding: 10px;
  color: #ffffff;
  font-size: 1.5rem;
}
.footer .footer-section .nonDiscrimination {
  font-size: 1rem;
  margin-top: 30px;
  color: #646464;
}
@media (max-width: 770px) {
  .footer .footer-section {
    width: 100%;
    text-align: center;
  }
  .footer .footer-section .footer-logo {
    justify-content: center;
  }
}
.app-nav {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.app-nav .navbar {
  width: 100%;
}
.app-nav .navbar.nav-top {
  padding: 0px;
  justify-content: flex-end;
}
.app-nav .navbar.nav-top .nav-item {
  padding: 5px 20px;
  color: #ffffff !important;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-weight: bold;
  transition: 0.5s all ease-in-out;
}
.app-nav .navbar.nav-top .nav-item:hover {
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}
.app-nav .navbar.nav-top .nav-item .c2 {
  color: #257728;
}
.app-nav .navbar.nav-bottom .navbar-brand {
  height: 75px;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-family: 'Reem Kufi', sans-serif;
}
.app-nav .navbar.nav-bottom .navbar-brand img {
  height: 100%;
}
.app-nav .navbar.nav-bottom .navbar-brand .textLogo {
  padding-left: 10px;
  padding-top: 7px;
  font-size: 21px;
  line-height: 25px;
}
.app-nav .navbar.nav-bottom .collapse {
  justify-content: flex-end;
}
.app-nav .navbar.nav-bottom .collapse .collapse-container {
  display: flex;
}
.app-nav .navbar.nav-bottom .collapse .nav-item {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s all ease-in-out;
}
.app-nav .navbar.nav-bottom .collapse .nav-item:hover {
  color: #ffffff;
  text-decoration: none;
}
.app-nav.full-nav .nav-top {
  padding-left: calc(3% + 14px);
  padding-right: calc(3% + 14px);
}
.app-nav.full-nav .nav-bottom {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0) 70%);
  padding-left: calc(3% + 14px);
  padding-right: calc(3% + 14px);
}
.app-nav.full-nav .nav-bottom .collapse-container {
  display: none !important;
}
.app-nav.page-nav {
  padding: 0px 3%;
}
.app-nav.page-nav .nav-bottom {
  position: relative;
  overflow: hidden;
  height: 89px;
  background: rgba(255, 255, 255, 0.7);
}
.app-nav.page-nav .nav-bottom .navbar-brand {
  color: #000000;
}
.app-nav.page-nav .nav-bottom .collapse-container {
  animation: page-nav-slide 0.7s;
}
@media (max-width: 770px) {
  .app-nav.page-nav {
    padding: 0;
  }
}
.inner-nav .nav-bottom {
  background: rgba(255, 255, 255, 0.5);
}
.inner-nav .nav-bottom .collapse {
  justify-content: flex-end;
}
.inner-nav .nav-bottom .collapse .nav-item {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s all ease-in-out;
}
.inner-nav .nav-bottom .collapse .nav-item:hover {
  color: #ffffff;
  text-decoration: none;
}
.inner-nav.hidden-nav {
  opacity: 0;
}
/* Attributes */
.lrgTitle {
  position: relative;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 100;
  margin-top: 6rem;
}
.lrgTitle:before {
  position: absolute;
  top: -3.5rem;
  left: 20px;
  color: rgba(200, 200, 200, 0.2);
  font-weight: 400;
  content: attr(data-text);
  font-size: 6rem;
}
.lrgTitle.ctr {
  text-align: center;
}
.lrgTitle.ctr:before {
  left: 50%;
  transform: translateX(-50%);
}
.lrgTitle.c1 {
  color: #151280;
}
.lrgTitle.c1:before {
  color: rgba(21, 18, 128, 0.2) !important;
}
.lrgTitle.c2 {
  color: #257728;
}
.lrgTitle.c2:before {
  color: rgba(37, 119, 40, 0.2) !important;
}
.lrgTitle.c3 {
  color: #504e99;
}
.lrgTitle.c3:before {
  color: rgba(80, 78, 153, 0.2) !important;
}
@media (max-width: 770px) {
  .lrgTitle:before {
    font-size: 3.5rem;
    top: -2.5rem;
  }
  .lrgTitle.ctr:before {
    width: 100%;
    left: 0;
    transform: none;
  }
}
.lBtn {
  padding: 5px 15px;
  color: #ffffff;
  background: #646464;
  font-size: 1.2rem;
  font-weight: 100;
  margin-top: 30px;
  border-radius: 0;
  -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.lBtn .btn-icon {
  font-size: 1.1rem;
  padding-left: 7px;
  transition: 0.5s all ease-in-out;
}
.lBtn:hover {
  color: #ffffff !important;
  text-decoration: none;
}
.lBtn:hover .btn-icon {
  padding-left: 14px;
}
.lBtn.c1 {
  background: #151280;
}
.lBtn.c2 {
  background: #257728;
}
.lBtn.c3 {
  background: #504e99;
}
.lBtn.white {
  background: rgba(255, 255, 255, 0);
  border: 1px solid #ffffff;
}
/* Tabs */
.tab {
  padding: 10px 0px;
  position: relative;
  overflow: hidden;
}
.tab .tabs {
  display: flex;
  flex-direction: row;
  padding-inline-start: unset !important;
}
.tab .tabs .tabItem {
  display: inline-flex;
  flex-direction: column;
  width: 20%;
  padding: 30px 10px;
  text-align: center;
  color: #ffffff;
  font-weight: 100;
  border-bottom: 2px solid rgba(150, 150, 150, 0.3);
  overflow: hidden;
  cursor: pointer;
}
.tab .tabs .tabItem.current {
  background: rgba(255, 255, 255, 0.5);
  color: #504e99;
  border-color: #9696c8;
}
.tab .tabs .tabItem:hover {
  color: #c8c8c8;
  border-color: #c8c8c8;
}
.tab .tabs .tabItem .studyicon {
  font-size: 3rem;
  margin-bottom: 20px;
}
.tab .tabs .tabItem span {
  font-size: 2rem;
  line-height: 2rem;
}
@media (max-width: 770px) {
  .tab .tabs .tabItem {
    width: 100%;
    flex-direction: row;
    padding: 7px;
    justify-content: center;
  }
  .tab .tabs .tabItem span {
    flex: 1;
    font-size: 1.5rem;
    display: none;
  }
  .tab .tabs .tabItem .studyicon {
    margin-bottom: 2px;
  }
}
.tab .tab-content {
  padding: 50px 20px 30px;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #ffffff;
  font-weight: 100;
}
.tab .tab-content .content-item {
  display: none;
}
.tab .tab-content .content-item .content-container {
  display: flex;
  flex-direction: row;
}
.tab .tab-content .content-item .content-container .content-info {
  flex: 1;
}
.tab .tab-content .content-item .content-container .img-container {
  padding: 10px;
  margin-left: 15px;
  width: 45%;
}
.tab .tab-content .content-item .content-container .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #ffffff;
  -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.tab .tab-content .content-item .content-container .mobile-title {
  display: none;
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
}
@media (max-width: 770px) {
  .tab .tab-content .content-item .content-container {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  .tab .tab-content .content-item .content-container .img-container {
    width: 100%;
    margin: 0;
  }
  .tab .tab-content .content-item .content-container .mobile-title {
    display: block;
  }
}
.tab .tab-content .content-item:first-child {
  display: flex;
}
@media (max-width: 770px) {
  .tab .tab-content {
    padding-top: 20px;
    line-height: 2rem;
  }
}
/* Animation key frames */
@keyframes page-nav-slide {
  from {
    margin-top: 89px;
  }
  to {
    margin-top: 0;
  }
}
@keyframes background-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
