.academicHeader {
    position: relative;
    z-index: 2;
    background: rgba(220,220,220,1);

    .header-section {
        padding: 10px 5%;
        &.header-title {
            .solid-back {
                span {
                    .color3(background, 0.7);
                }
            }
            .backImg {
                &:before {.color3(background-color, 0.3);}
            }
            
            @media @mobile-device { 
                .btn-container { 
                    flex-direction: column !important;
                    .lBtn + .lBtn { margin-left: 0 !important;}
                }
            }
        }
    }
}

.academicsPage {
    background: rgba(255,255,255,1);
    .academic-section {
        padding: @navHeightBottom 0px 20px;
        position: relative;
        overflow: hidden;
        
        p { font-size: 1.8rem; font-weight:100; line-height: 3.2rem; color: @color1; }
        &.findDegree {
            display: inline-block;
            width: 100%;
            text-align: center;

            .degree-container {
                .full-list-container {
                    padding: 10px 0px;                    
                    .list-title { color: @color1;}
                    .list-container {
                        display: block;
                        padding:10px 0px;
                        .filterBtn { 
                            display: inline-block;
                            padding: 4px 10px;
                            border: 1px solid rgba(52,58,64,1);
                            color: rgba(52,58,64,1);
                            opacity: 0.4;
                            font-size: 1.3rem; 
                            margin: 0px 7px 14px;
                            text-transform: capitalize;
                            transition: 0.5s all ease-in-out;
                            cursor: pointer;

                            span { margin-left: 5px; }

                            &:hover, &.active { background: rgba(52,58,64,1); color: rgba(255,255,255,1); opacity: 0.7;}
                            &.active { opacity: 1;}
                            /*&+.filterBtn { margin-left: 15px; }*/

                            &.t1 { color: @theme1; border-color: @theme1; &:hover, &.active { background: @theme1; color: rgba(255,255,255,1);}}
                            &.t2 { color: @theme2; border-color: @theme2; &:hover, &.active { background: @theme2; color: rgba(255,255,255,1);}}
                            &.t3 { color: @theme3; border-color: @theme3; &:hover, &.active { background: @theme3; color: rgba(255,255,255,1);}}
                            &.t4 { color: @theme4; border-color: @theme4; &:hover, &.active { background: @theme4; color: rgba(255,255,255,1);}}
                            &.t5 { color: @theme5; border-color: @theme5; &:hover, &.active { background: @theme5; color: rgba(255,255,255,1);}}
                            
                            &.t6 { color: @theme6; border-color: @theme6; &:hover, &.active { background: @theme6; color: rgba(255,255,255,1);}}
                        }
                    }
                }
                .result-search-container { position: relative;}

                .results-search {
                    position: absolute;
                    z-index: 3;
                    top: -17px;
                    left: 50%;
                    transform:translateX(-50%);                    
                    border: 2px solid;
                    display: inline-flex;
                    overflow: hidden;
                    .color1(border-color, 0.1);
                    background: rgba(255,255,255,1); 
                    padding: 5px 15px;
                    border-radius: 5px;
                    width:30%;
                    .color1(color,1);
                    i { display: flex; flex-direction: column; justify-content: center; }
                    input { padding: 0 7px; border: none; flex:1; font-size: 1.2rem; line-height: 1.2rem;}

                    @media @mobile-device { width: 80%; }
                }

                .results-list {
                    border: 2px solid;
                    .color1(border-color, 0.1);                    
                    border-radius: 5px;
                    padding: 40px 10px 10px;
                    max-height: 500px;
                    margin-top:20px;
                    overflow: auto;
                    position: relative;
                    
                    .results-container {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        
                        .result-message {
                            font-size: 1.5rem;
                            text-align: center;
                            font-style: italic;
                            font-weight: 700;
                            width: 100%;
                            .color1(color, 0.7);
                        }
                        .result-item {
                            display: inline-flex;
                            flex-direction: row;
                            padding: 5px 12px;
                            margin: 0px 10px 20px 0px;
                            text-align: left;                            
                            border-radius: 5px;
                            -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
                            -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
                            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
                            color: initial;
                            text-decoration: none;
                            transition: 0.5s all ease-in-out;
                            cursor: pointer;

                            .result-icon {
                                width: 32px;
                                height: 32px;
                                border-radius: 50%;
                                background: rgba(100,100,100,1);
                                &.t1 { background: @theme1; }
                                &.t2 { background: @theme2; }
                                &.t3 { background: @theme3; }
                                &.t4 { background: @theme4; }
                                &.t5 { background: @theme5; }
                            }

                            .item-info-container {
                                display: flex;
                                flex-direction: column;
                                text-transform: capitalize;
                                padding-left:5px;
                                flex: 1;
                                .degree-title { font-weight: 900; font-size: 1rem; line-height: 1rem;}
                                .major-title { font-weight: 300; font-size: 1.2rem; line-height: 1.5rem;}
                            }

                            &:hover {
                                &.t1 { .theme1(background, 0.3); }
                                &.t2 { .theme2(background, 0.3); }
                                &.t3 { .theme3(background, 0.3); }
                                &.t4 { .theme4(background, 0.3); }
                                &.t5 { .theme5(background, 0.3); }
                            }
                        }
                    }
                }
            }
        }

        .area-container {
            margin-top: 30px; 
            .academicSlider {
                min-height: 400px;
                &.right { 
                    &:hover { .img-slider { &:before { border-left: 50px solid @color2 !important;} }}
                }

                &.left { 
                    &:hover { .img-slider { &:before { border-right: 50px solid @color2 !important;} }}
                }

                .slider-container { p { color: rgba(255,255,255,1); } }
            }
        }

        &.alternate { 
            background: rgba(255,255,255,0.7);
            color: rgba(0,0,0,1);
        }
        &.patterned {
            &:before {
                position: absolute;
                content:'';
                top:0;
                left:0;
                width:100%;
                height: 100%;
                z-index: 0;
                opacity: 0.5;                
                /*https://www.svgbackgrounds.com*/
                background-color: #ffffff;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23151280'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
                                           
                background-attachment: fixed;
                background-size: cover;
            }
            .section-container{ position: relative; z-index: 2;}
        }
    }
}