@mobile-device: ~"(max-width: 770px)";
/* Header Sizes */
@navHeightMiniBottom: 49px;

@navHeightTop: 31px;
@navHeightBottom: 89px;

/* Color Themes */
@color1: rgba(21, 18, 128,1);
.color1(@prop,@val){ @{prop}: rgba(21, 18, 128,@val) !important; }

@color2: rgba(37, 119, 40,1);
.color2(@prop,@val){ @{prop}: rgba(37, 119, 40,@val) !important; }

@color3: rgba(80, 78, 153,1);
.color3(@prop,@val){ @{prop}: rgba(80, 78, 153,@val) !important; }

/* Fonts */
@font-size: 14px;
@import url('https://fonts.googleapis.com/css?family=Alike|Reem+Kufi|Yantramanav:100,300,400,700,900');

/* Styles */
@import "home.less";


body, html { 
    margin: 0px !important;
    color: rgba(0,0,0,1);
    height: 100%;
    font-size: @font-size;

    //font-family: 'Alike', serif;
    //font-family: 'Reem Kufi', sans-serif;
    font-family: 'Yantramanav', sans-serif;
}
*:focus { outline: none;}

.app-body {
    background-image: linear-gradient(to right, rgba(80, 78, 153,0.7) , rgba(80, 78, 153,0.3) 90%);
    padding: calc(100vh - @navHeightMiniBottom) 3% 0;
}
.app-header-body {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 0;

    .header-cover {
        position: absolute;
        z-index: 1;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        opacity:0;
        background-image: linear-gradient(to right, rgba(133,131,184,1) , rgba(202,202,224,1) 100%);

        &.appear { z-index: 3; opacity:1; animation: background-appear 0.5s; }
    }
    
    .headerCard {
        width: 100%;
        height: calc(100vh - @navHeightTop);
        margin-top:@navHeightTop;
    }
}
.app-inner-body {
    width: 100%;
    min-height: 100vh;
    //height: 500vh;

    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);     

    margin-bottom:20px;
    background: @color3;
    position: relative;
    z-index: 2;

    .inner-page-body {
        margin: 20px 0px;
        //padding-bottom: 50px;
    }
}

.footer {
    position: relative;
    padding: 30px 2%;
    display: flex;
    flex-direction: row;
    color: rgba(255,255,255,1);
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Reem Kufi', sans-serif;

    .footer-section {
        width: 40%;
        &.full { width: 100%;}
        .footer-logo {
            height: 75px;
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;

            img { height: 100%;}
            .textLogo { padding-left: 7px; padding-top: 7px; font-size: 21px; }
        }
        .footer-info {
            font-size: 1.2rem;
            margin-left: 7px;
        }
        .footer-link-section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .footer-link { 
                width: 33%; 
                padding: 10px;
                color: rgba(255,255,255,1);
                font-size: 1.5rem;
            }
        }

        .nonDiscrimination {
            font-size: 1rem;
            margin-top: 30px;
            color: rgba(100,100,100,1);
        }
    }
}

.app-nav {
    z-index: 100;  
    position: fixed; 
    left:0; top:0;
    width: 100%;

    .navbar {
        width: 100%;
        &.nav-top {
            padding:0px;
            justify-content: flex-end;
            .nav-item {
                padding: 5px 20px;
                color: rgba(255,255,255,1) !important;
                border-left: 1px solid rgba(255,255,255,0.5); 
                font-weight: bold;  
                transition: .5s all ease-in-out;
                &:hover { background: rgba(255,255,255,0.2); text-decoration: none;}
                .c2 { color: @color2;}             
            }           
        }

        &.nav-bottom {                                   
            .navbar-brand {
                height: 75px;
                display: flex;
                flex-direction: row;
                color: rgba(255,255,255,1);
                font-family: 'Reem Kufi', sans-serif;
                img { height: 100%;}
                .textLogo { padding-left: 10px; padding-top: 7px; font-size: 21px; line-height: 25px; }
            }
            .collapse {
                justify-content: flex-end;
                .collapse-container { display: flex; }
                .nav-item {
                    color: rgba(0,0,0,1);
                    font-weight: bold; 
                    text-transform: uppercase;
                    transition: .5s all ease-in-out;
                    &:hover { color: rgba(255,255,255,1); text-decoration: none;}
                }
            }
        }        
    }

    &.full-nav {               
        .nav-top {
            padding-left: calc(3% + 14px);
            padding-right: calc(3% + 14px);
        }
        .nav-bottom { 
            background-image: linear-gradient(rgba(255,255,255,0.5) , rgba(0,0,0,0) 70%); 
            padding-left: calc(3% + 14px);
            padding-right: calc(3% + 14px);

            .collapse-container { display: none !important; } 
        }
    }
    &.page-nav {
        padding: 0px 3%;        
        .nav-bottom { 
            position: relative;
            overflow: hidden;
            height: @navHeightBottom;
            background: rgba(255,255,255,0.7);
            .navbar-brand { color: rgba(0,0,0,1); }
            .collapse-container { animation: page-nav-slide 0.7s;}
        }
    }    
}

.inner-nav {        
    .nav-bottom { 
        background: rgba(255,255,255,0.5); 
        .collapse {
            justify-content: flex-end;
            .nav-item {
                color: rgba(0,0,0,1);
                font-weight: bold; 
                text-transform: uppercase;
                transition: .5s all ease-in-out;
                &:hover { color: rgba(255,255,255,1); text-decoration: none;}
            }
        }
    }

    &.hidden-nav { opacity: 0; }
}
/* Attributes */
.lrgTitle {
    position: relative;
    color: rgba(255,255,255,1);
    font-size: 3rem;
    font-weight: 100;
    margin-top: 6rem;

    &:before {
        position:absolute;
        top:-3.5rem;
        left: 20px;
        color: rgba(200,200,200,0.2);
        font-weight: 400;
        content: attr(data-text);
        font-size: 6rem;
    }

    &.ctr { 
        text-align: center;
        &:before { left: 50%; transform: translateX(-50%); }
    }
    &.c1 { color:@color1; &:before { .color1(color, 0.2);}}
    &.c2 { color:@color2; &:before { .color2(color, 0.2);}}
    &.c3 { color:@color3; &:before { .color3(color, 0.2);}}
}

.lBtn {
    padding: 5px 15px;
    color: rgba(255,255,255,1);
    background: rgba(100,100,100,1);
    font-size: 1.2rem;
    font-weight: 100; 
    margin-top: 15px;
    border-radius: 0;
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);

    .btn-icon { font-size: 1.1rem; padding-left: 7px; transition: 0.5s all ease-in-out; }

    &:hover { 
        color: rgba(255,255,255,1) !important; 
        text-decoration: none;
        .btn-icon { padding-left: 14px; }
    }

    &.c1 { background: @color1;}
    &.c2 { background: @color2;}
    &.c3 { background: @color3;}
    &.white { background: rgba(255,255,255,0); border: 1px solid rgba(255,255,255,1);}
}

/* Animation key frames */
@keyframes page-nav-slide {
    from {
        margin-top: @navHeightBottom;
    }
    to {
        margin-top: 0;
    }
}

@keyframes background-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}