@mobile-device: ~"(max-width: 770px)";
/* Header Sizes */
@navHeightMiniBottom: 49px;

@navHeightTop: 31px;
@navHeightBottom: 89px;

/* Color Themes */
@color1: rgba(21, 18, 128,1);
.color1(@prop,@val){ @{prop}: rgba(21, 18, 128,@val) !important; }

@color2: rgba(37, 119, 40,1);
.color2(@prop,@val){ @{prop}: rgba(37, 119, 40,@val) !important; }

@color3: rgba(80, 78, 153,1);
.color3(@prop,@val){ @{prop}: rgba(80, 78, 153,@val) !important; }

/* Theme Colors */
/* https://digitalsynopsis.com/design/beautiful-color-gradient-palettes/*/
@theme1: rgba(106,171,156,1);
.theme1(@prop,@val){ @{prop}: rgba(106,171,156,@val) !important; }

@theme2: rgba(250,146,132,1);
.theme2(@prop,@val){ @{prop}: rgba(250,146,132,@val) !important; }

@theme3: rgba(224,108,120,1);
.theme3(@prop,@val){ @{prop}: rgba(224,108,120,@val) !important; }

@theme4: rgba(88,116,220,1);
.theme4(@prop,@val){ @{prop}: rgba(88,116,220,@val) !important; }

@theme5: rgba(56,67,120,1);
.theme5(@prop,@val){ @{prop}: rgba(56,67,120,@val) !important; }

/* Fonts */
@font-size: 14px;
@import url('https://fonts.googleapis.com/css?family=Alike|Reem+Kufi|Yantramanav:100,300,400,700,900');

/* Styles */
@import "home.less";
@import "academics.less";
@import "studyArea.less";
@import "admissions.less";
@import "faculty.less";
@import "tuition.less";
@import "about.less";
@import "contactus.less";
@import "apply.less";

/* imported */
@import "../../node_modules/country-icons/index.less";


body, html { 
    margin: 0px !important;
    color: rgba(0,0,0,1);
    height: 100%;
    font-size: @font-size;

    //font-family: 'Alike', serif;
    //font-family: 'Reem Kufi', sans-serif;
    font-family: 'Yantramanav', sans-serif;
}
*:focus { outline: none;}

.app-body {
    position: relative;
    z-index: 900;
    background-image: linear-gradient(to right, rgba(80, 78, 153,0.7) , rgba(80, 78, 153,0.3) 90%);
    padding: calc(100vh - @navHeightMiniBottom) 2% 0;
    @media @mobile-device { padding: 0px; width: 100%;}
}
.app-header-body {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 0;
    
    .header-cover {
        position: absolute;
        z-index: 1;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        opacity:0;
        background-image: linear-gradient(to right, rgba(133,131,184,1) , rgba(202,202,224,1) 100%);

        &.appear { z-index: 3; opacity:1; animation: background-appear 0.5s; }
    }
    
    .headerCard {
        width: 100%;
        height: calc(100vh - @navHeightTop);
        margin-top:@navHeightTop;
    }

    @media @mobile-device { 
        position: relative; 
        min-height: calc(100vh - 31px); 
        height: initial;
        .headerCard { height: 100%; min-height: calc(100vh - 31px);}
    }
}
.app-inner-body {
    width: 100%;
    min-height: 100vh;
    //height: 500vh;

    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);     

    margin-bottom:20px;
    background: @color3;
    position: relative;
    z-index: 2;

    .inner-page-body {
        margin: 0px 0px 20px;
        .section-container { padding: 10px 5%;}
    }
}

.footer {
    position: relative;
    padding: 30px 2% 5px;
    display: flex;
    flex-direction: row;
    color: rgba(255,255,255,1);
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Reem Kufi', sans-serif;

    .footer-section {
        width: 32%;
        &.full { width: 100%;}
        &.address {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 20px; 
            .address-section {
                display: flex;
                flex-direction: row;
                .footer-info { &+.footer-info { margin-left: 14px; }}   
                @media @mobile-device { flex-direction: column;}                             
            }
            @media @mobile-device { flex-direction: column;}
        }
        &.policy-foot {
            margin-top: 10px;
            padding: 7px;
            border-top: 2px solid rgba(255,255,255,0.2);

            .footer-info-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .policy-btns {
                    text-align: right;
                    .policy-btn { 
                        color: rgba(100,100,100,1); 
                        text-decoration: underline;
                        &+.policy-btn { margin-left: 15px; }
                    }
                }

                .footer-copyright { color: rgba(100,100,100,1); }

                @media @mobile-device { flex-direction: column;}
            }   
            
            .policy-collapse { margin-top: 30px; }
        }
        .footer-logo {
            height: 75px;
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;

            img { height: 100%;}
            .textLogo { padding-left: 7px; padding-top: 7px; font-size: 21px; }
        }
        .social-container {
            .social-link { 
                color: rgba(255,255,255,1);
                font-size: 1.3rem;
                transition: 0.5s all ease-in-out;
                &:hover {  opacity: 0.7; font-size: 1rem;  }
                &+.social-link { margin-left: 14px; }
            }
        }
        .footer-info {
            font-size: 1.2rem;
            margin-left: 7px;
        }
        .footer-space {
            content: '';
            border-bottom: 2px solid rgba(255,255,255,0.2);
            margin: 5px 7px;
            width: 200px;
        }
        .footer-link-section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .footer-link { 
                width: 33%; 
                padding: 0px 10px 10px;
                color: rgba(255,255,255,1);
                font-size: 1.5rem;
                text-decoration: underline;
            }
        }
        
        .policy{
            font-size: 1rem;
            color: rgba(100,100,100,1);
            &.bold { font-weight: bold;}
        }

        @media @mobile-device { width: 100%; text-align: center; .footer-logo { justify-content: center; }}
    }
}

.app-nav {
    z-index: 100;  
    position: fixed; 
    left:0; top:0;
    width: 100%;

    .navbar {
        width: 100%;
        &.nav-top {
            padding:0px;
            justify-content: flex-end;
            .nav-item {
                padding: 5px 20px;
                color: rgba(255,255,255,1) !important;
                border-left: 1px solid rgba(255,255,255,0.5); 
                font-weight: bold;  
                transition: .5s all ease-in-out;
                &:hover { background: rgba(255,255,255,0.2); text-decoration: none;}
                .c2 { color: @color2;}             
            }           
        }

        &.nav-bottom {                                   
            .navbar-brand {
                height: 75px;
                display: flex;
                flex-direction: row;
                color: rgba(255,255,255,1);
                font-family: 'Reem Kufi', sans-serif;
                img { height: 100%;}
                .textLogo { padding-left: 10px; padding-top: 7px; font-size: 21px; line-height: 25px; }
            }
            .navbar-toggler {
                color: rgba(255,255,255,1);
                font-size: 24px;
                padding-right: 0px;
                padding-left: 0px;
                &:focus { outline: none !important;}
            }

            .collapse {
                justify-content: flex-end;
                .collapse-container { display: flex; }
                .nav-item {
                    color: rgba(255,255,255,1);
                    font-size: 1.15rem;
                    text-transform: uppercase;
                    transition: .5s all ease-in-out;
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 2px;
                        left: 0;
                        width: 0;
                        height: 2px;
                        margin-top:1px;
                        transition: 0.5s all ease-in-out;
                        opacity: 0;
                        background-color: rgba(255,255,255,1);
                    }
                    &:hover { 
                        text-decoration: none;
                        &:after { width: 100%; opacity: 1; }
                    }
                }
            }
        }        
    }

    &.full-nav {               
        .nav-top {
            padding-left: 2%;
            padding-right: 2%;
        }
        .nav-bottom { 
            //background-image: linear-gradient(rgba(50,50,50,0.5) , rgba(0,0,0,0) 70%); 
            padding-left: calc(2% + 14px);
            padding-right: calc(2% + 14px);

            .collapse-container { display: none !important; } 
        }
        @media @mobile-device { 
            .nav-top {padding: 0px; }
            .nav-bottom { background:rgba(52,58,64,0.75); padding:.5rem 1rem; }
         }
    }
    &.page-nav {
        padding: 0px 2%;        
        .nav-bottom { 
            position: relative;
            overflow: hidden;
            height: @navHeightBottom;
            background: rgba(52,58,64,0.75);
            .navbar-brand { color: rgba(255,255,255,1); }
            .collapse-container { animation: page-nav-slide 0.7s;}
        }
        @media @mobile-device { padding:0; }
    }    
}

.inner-nav {        
    .nav-bottom {         
        background: rgba(52,58,64,1); 
        .collapse {
            justify-content: flex-end;
            .nav-item {
                color: rgba(255,255,255,1);
                font-size: 1.15rem; 
                text-transform: uppercase;
                transition: .5s all ease-in-out;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 2px;
                    left: 0;
                    width: 0;
                    height: 2px;
                    margin-top:1px;
                    transition: 0.5s all ease-in-out;
                    opacity: 0;
                    background-color: rgba(255,255,255,1);
                }
                &:hover { 
                    text-decoration: none;
                    &:after { width: 100%; opacity: 1; }
                }                
            }
        }
    }

    &.hidden-nav { opacity: 0; }
}

.sub-page {
    .header-section{
        &:first-of-type { padding-top: calc(@navHeightBottom + 20px);}
        &.header-title {
            position: relative; 
            overflow: hidden;
            color: rgba(255,255,255,1);
            text-align: center;            
            font-family: 'Reem Kufi', sans-serif;        
            padding-bottom: 100px;
            background-image: linear-gradient(to bottom, rgba(0,0,0,0) , rgba(220,220,220,1) 100%);

            h1 { position: relative; z-index: 1; font-size: 5rem; margin-bottom: 30px; }   
            .solid-back { 
                position: relative; 
                z-index: 1; 
                font-size: 1.5rem; 
                span { 
                    display: inline-block; 
                    background: @color2; 
                    padding: 7px 21px;
                    &+span { margin-top: 1.5rem; }
                }
            }

            .backImg { 
                position: absolute;
                top:0;
                left: 0;
                z-index: -1;
                width: 100%;
                object-fit: cover;
                overflow: hidden;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.2);                    
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23323233' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");                    
                }                
                img { width: 100%;}
            }
            @media @mobile-device { 
                background-image: linear-gradient(to bottom, rgba(0,0,0,0) , rgba(220,220,220,1) 40%);
                .backImg { 
                    height: 45%;
                    img { height: 100%; object-fit: cover;}
                }
            }
        }
    }
}
/* Attributes */
.lrgTitle {
    position: relative;
    color: rgba(255,255,255,1);
    font-size: 3rem;
    font-weight: 100;
    margin-top: 6rem;

    &:before {
        position:absolute;
        top:-3.5rem;
        left: 20px;
        color: rgba(200,200,200,0.2);
        font-weight: 400;
        content: attr(data-text);
        font-size: 6rem;
        white-space: nowrap;
    }

    &.sub { 
        &:before { font-size: 4.5rem; top: -2.5rem;}
    }

    &.ctr { 
        text-align: center;
        &:before { left: 50%; transform: translateX(-50%); }
    }
    &.c1 { color:@color1; &:before { .color1(color, 0.2);}}
    &.c2 { color:@color2; &:before { .color2(color, 0.2);}}
    &.c3 { color:@color3; &:before { .color3(color, 0.2);}}

    @media @mobile-device { 
        &:before { font-size: 3.5rem; top: -2.5rem; }
        &.ctr { &:before { width: 100%; left: 0; transform: none;}}
    }
}

.btn-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .lBtn {
        &+.lBtn { margin-left: 20px; @media @mobile-device { margin-left:0;}}
    }
    @media @mobile-device { flex-direction: column; }
}

.lBtn {
    padding: 5px 15px;
    color: rgba(255,255,255,1);
    background: rgba(100,100,100,1);
    font-size: 1.2rem;
    font-weight: 100; 
    margin-top: 30px;
    border-radius: 0;
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);

    .btn-icon { font-size: 1.1rem; padding-left: 7px; transition: 0.3s all ease-in-out; }

    &:hover { 
        color: rgba(255,255,255,1) !important; 
        text-decoration: none;
        .btn-icon { padding-left: 14px; }
    }

    &.c1 { background: @color1;}
    &.c2 { background: @color2;}
    &.c3 { background: @color3;}
    &.white { background: rgba(255,255,255,0); border: 1px solid rgba(255,255,255,1);}
    &.link {
        color: rgba(0,0,0,1);
        background: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-weight: 400;
        padding: 2px 1px;
        border-bottom: 1px solid rgba(0,0,0,1);

        &:hover { color: rgba(0,0,0,1) !important;}        
    }

    &.clear {
        background: rgba(52,58,64,0.8);
        transition: 0.3s all ease-in-out;
        &.t1 { &:hover { .color1(background, 0.7); }}
        &.t2 { &:hover { .color2(background, 0.7); }}
        &.t3 { &:hover { .color3(background, 0.7); }}

        @media @mobile-device { color: rgba(100,100,100,1); }
    }

    @media @mobile-device { text-align: center; display: block; }
}

/* profile text */
.indProfile {
    overflow: auto;                
    img { float: left; width: 400px; padding: 10px 20px 10px 10px; }                
    .info {
        display: block;
        font-size: 1.5rem;
        margin-bottom: 15px;
        &.title { font-size: 3rem; font-weight: bold; }
        &.name { font-size: 2.2rem;  }
    }
    @media @mobile-device { 
        text-align: center; 
        img { width: 100% !important; }
        .info { font-size: 1.3rem; }
    }
}
/* Form */
.lgcu-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    .loading {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        color: @color2;
        font-size: 150px;
        z-index: 10;
    }

    .lgcu-form-container {
        width: 100%;
        position: relative;
        z-index: 0;
        &.submitted { 
            color: @color3; 
            text-align: center; 
            margin: 20px 0px; 
            border: 2px solid rgba(255,255,255,1);
            padding: 10px;
            border-radius: 5px;
            background: rgba(255,255,255,1);
        }
    }
    .form-info { width: 100%; margin-bottom: 20px; }
    .form-section-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        h2 { width: 100%; text-decoration: underline; }
        .directionsInfo {
            display: block; width: 100%;
        }
        &+.form-section-container { margin-top: 40px;}
    }
    .form-element {
        padding: 7px; 
        display: block;
        font-size: 1.2rem;
        margin-bottom: 10px;
        input, textarea, select {
            width: 100%;
            border-radius: 4px;
            border: 0;
            padding: 7px;   
        }

        textarea { height: 150px; resize: none; }        

        .form-checkbox { 
            display: flex; 
            flex-direction: row; 
            background: rgba(255,255,255,0.3);
            border-radius: 5px;
            padding: 7px 0px;
            input{ width: initial; margin: 5px 7px; }
            label { margin: 0; }
        }

        .empty { border: 2px solid rgba(255,0,0,0.8);}
        &.sz-1 { width: 10%; }
        &.sz-2 { width: 20%; }
        &.sz-3 { width: 30%; }
        &.sz-4 { width: 40%; }
        &.sz-5 { width: 50%; }
        &.sz-6 { width: 60%; }
        &.sz-7 { width: 70%; }
        &.sz-8 { width: 80%; }
        &.sz-9 { width: 90%; }
        &.sz-10 { width: 100%; }
    }

    .btn-container {
        padding: 7px;
        margin:0 !important;
        .lBtn { cursor:pointer; margin: 0; color: rgba(255,255,255,1);}
    }
}

/* Modal */
.lgcuModal {
    min-width: 75%;
    .modal-body { padding: 0; }
    .card-payment-container {
        min-height: 200px;
        display: flex;
        flex-direction: row;
        .details-container {
            padding: 7px 14px;
            &.card-details { 
                flex:1;
                .card-form {
                    display: flex;
                    flex-direction: row;
                    .form-container {
                        margin: auto 0;
                        padding: 0px 5px;
                        &.fill { flex:1;}
                        .card-display {
                            border: 1px solid rgba(0,0,0,1);
                            border-radius: 5px;
                            padding: 15px;
                            .color1(background, 0.4);
                            width: 300px;
                            height: 170px;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            .card-number {
                                font-size: 28px;
                                line-height: 28px;
                                font-weight: bold;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                margin-bottom: 20px;
                            }
                            .card-exp {
                                text-align: center;
                                line-height: 12px;
                                .title{ font-weight: bold; margin-right: 10px;}
                            }
                            .card-name { font-size: 18px; line-height: 18px;}
                        }

                        .form-section-container {
                            text-align: center;
                            .form-element {
                                padding: 7px; 
                                display: block;
                                font-size: 1.2rem;
                                margin-bottom: 2px;
                                display: inline-flex;
                                flex-direction: column;
                                text-align: left;
                                input, textarea, select {
                                    width: 100%;
                                    border-radius: 4px;
                                    border: 1px solid rgba(0,0,0,1);
                                    padding: 7px; 
                                    
                                    &.disabled { 
                                        background: rgba(255,255,255,0.1); 
                                        border: none;
                                        color: rgba(255,255,255,1);
                                        text-transform: capitalize;
                                    }
                                }
                                      
                                .empty { border: 2px solid rgba(255,0,0,0.8);}
                                &.sz-1 { width: 10%; }
                                &.sz-2 { width: 20%; }
                                &.sz-3 { width: 30%; }
                                &.sz-4 { width: 40%; }
                                &.sz-5 { width: 50%; }
                                &.sz-6 { width: 60%; }
                                &.sz-7 { width: 70%; }
                                &.sz-8 { width: 80%; }
                                &.sz-9 { width: 90%; }
                                &.sz-10 { width: 100%; }
                            }
                        }
                    }
                }
            }
            &.payment-details {
                width: 30%;
                background: rgba(200,200,200,1);
            }
        }
    }
    .btn-container {
        .lBtn { cursor: pointer;}
    }
}
/* Tabs */
.tab {
    padding: 10px 0px;
    position: relative;
    overflow: hidden;
    .tabs {
        display: flex;
        flex-direction: row;
        padding-inline-start: unset !important;
        .tabItem {
            display: inline-flex;
            flex-direction: column;
            width: 20%;
            padding: 30px 10px;
            text-align: center;
            color: rgba(255,255,255,1);
            font-weight: 100;
            border-bottom: 2px solid rgba(150,150,150,0.3);
            overflow: hidden;
            cursor: pointer;

            &.current { background:rgba(255,255,255,0.5); color: @color3; border-color:rgba(150,150,200,1); }
            &:hover:not(.current) { color: rgba(200,200,200,1); border-color:rgba(200,200,200,1);}

            .studyicon { font-size: 3rem; margin-bottom: 20px; }
            span { font-size: 2rem; line-height: 2rem;}
        }

        @media @mobile-device { 
            //flex-direction: column;
            .tabItem { 
                width: 100%;
                flex-direction: row; 
                padding: 7px; 
                justify-content: center;
                span { flex:1; font-size: 1.5rem; display: none;}              
                .studyicon { margin-bottom: 2px; font-size: 2rem;}
            }
        }
    }

    .tab-content {
        padding: 50px 20px 30px;
        font-size: 1.5rem; 
        line-height: 3rem;
        color: rgba(255,255,255,1);
        font-weight: 100;
        .content-item {          
            display: none;
            .content-container {
                display: flex;
                flex-direction: row;            
                .content-info { flex: 1; }
                .img-container {
                    padding: 10px;
                    margin-left: 15px;
                    width: 45%;
                    img { 
                        width: 100%; 
                        height: 100%; 
                        object-fit: cover; 
                        border: 2px solid rgba(255,255,255,1);
                        -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
                        -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
                        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
                    }
                }

                .mobile-title { display: none; text-align: center; font-weight: 300; font-size: 2rem; }

                @media @mobile-device { 
                    flex-direction: column-reverse;
                    justify-content: center; 
                    text-align: center;
                    .img-container{ width: 100%; margin: 0;}
                    .mobile-title { display: block; }
                }
            }
            &:first-child {display: flex;}
        }
        @media @mobile-device { padding-top: 20px; line-height: 2rem; }
    }
}

/* Info Slider */
.info-slider {
    position: relative;    
    width: 100%;
    margin: 30px 0px;   
    @media @mobile-device { margin-bottom: 0px; }     
    .info-slider-container {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        padding-left: 130px;
        scroll-behavior: smooth;

        @media @mobile-device {  white-space: initial; padding: 0;  flex-direction: column; }        
        .slider-card {
            position: relative;
            display: inline-block;            
            height: 385px;
            /*width: 450px;*/
            flex: 0 0 450px;
            padding: 20px 30px;            
            white-space: initial;
            overflow: hidden;
            font-size: 1.2rem;
            color: rgba(255,255,255,1);
            font-weight: 300;
            
            .number-list {
                display: flex;
                .number { 
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    width: 25px;
                    height: 25px;
                    border: 1px solid rgba(255,255,255,1);
                    border-radius: 50%;                    
                    margin-right: 7px;
                }
                .info { 
                    flex:1;
                    span { font-size: .9rem; font-weight: bold;}
                }
                &+.number-list { margin-top: 10px; }
            }
            h1 { font-size: 2.5rem; }
            h2 { font-size: 1.7rem; margin-bottom: 15px; }

            .line-split { padding-bottom: 10px; border-bottom: 1px solid rgba(255,255,255,1); }

            &.img { 
                padding: 0; 
                object-fit: cover; 
                &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;                
                    z-index:2;                                
                    width: 0;
                    height: 0;   
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%); 
                    border-top: 50px solid transparent;
                    border-left: 50px solid rgba(230,230,230,1);
                    border-bottom: 50px solid transparent;
                }
                img { 
                    height: 100%;
                    width: 100%;
                    object-fit: cover; 
                    object-position: 0 0;                  
                }

                &.light { &:before { border-left: 50px solid rgba(150,150,150,1);}}
                &.dark { &:before { border-left: 50px solid rgba(100,100,100,1);}}
                &.c1 { &:before { border-left: 50px solid @color1;}}
                &.c2 { &:before { border-left: 50px solid @color2;}}
                &.c3 { &:before { border-left: 50px solid @color3;}}
            }
            &.title {  
                display: flex;
                font-size: 2rem;
                text-align: center;        
                flex-direction: column;
                justify-content: center;
            }

            &.base { background: rgba(230,230,230,1); color: @color1; .line-split { border-color: @color1; } .number { border-color: @color1; } }
            &.dark { background: rgba(100,100,100,1); }
            &.light { background: rgba(150,150,150,1); }
            &.c1 { background: @color1;}
            &.c2 { background: @color2; }
            &.c3 { background: @color3; }
            
            @media @mobile-device { 
                flex-basis: initial;
                height: initial;
                min-height: 300px; 
                &.img { 
                    &:before { 
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%); 
                        border-left: 50px solid transparent !important;
                        border-top: 50px solid rgba(230,230,230,1);
                        border-right: 50px solid transparent;
                    }
                    img { position: absolute; }
                    &.light { &:before { border-top: 50px solid rgba(150,150,150,1);}}
                    &.dark { &:before { border-top: 50px solid rgba(100,100,100,1);}}
                    &.c1 { &:before { border-top: 50px solid @color1;}}
                    &.c2 { &:before { border-top: 50px solid @color2}}
                }
            }
        }
        .slider-close { padding: 0px 65px; @media @mobile-device { padding: 0;}}

        .slider-vertical {
            display: flex;
            flex-direction: column;
            
            .slider-card {
                width: 450px;
                flex: 0 0 350px;
                &.img {                
                    height: 100%;
                    &:before {
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%); 
                        border-left: 50px solid transparent !important;
                        border-top: 50px solid rgba(230,230,230,1);
                        border-right: 50px solid transparent;
                    }
                    
                    &.light { &:before { border-top: 50px solid rgba(150,150,150,1);}}
                    &.dark { &:before { border-top: 50px solid rgba(100,100,100,1);}}
                    &.c1 { &:before { border-top: 50px solid @color1;}}
                    &.c2 { &:before { border-top: 50px solid @color2}}
                    &.c3 { &:before { border-top: 50px solid @color3}}
                }

                @media @mobile-device { width: initial; }
            }
            &.flip { 
                flex-direction: column-reverse;
                .img {
                    &:before {
                        top:initial;
                        bottom:0;
                        border-top: 50px solid transparent !important;
                        border-bottom: 50px solid rgba(230,230,230,1) !important;                       
                    }

                    &.light { &:before { border-bottom: 50px solid rgba(150,150,150,1) !important;}}
                    &.dark { &:before { border-bottom: 50px solid rgba(100,100,100,1) !important;}}
                    &.c1 { &:before { border-bottom: 50px solid @color1 !important;}}
                    &.c2 { &:before { border-bottom: 50px solid @color2 !important;}}
                    &.c3 { &:before { border-bottom: 50px solid @color3 !important;}}
                }
            }
        }
    }

    .slider-ctrl {
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        padding: 20px;
        color: rgba(255,255,255,1);
        background: rgba(0,0,0,0.3);
        font-size: 20px;
        transition: 0.3s all ease-in-out;
        cursor: pointer;

        &.noshow { display: none; }
        &.prev { left:0; }
        &.next { right:0;}

        &:hover {
            background: rgba(0,0,0,0.7);
            &.prev { padding-left: 30px; }
            &.next { padding-right: 30px; }
        }

        @media @mobile-device { display: none; }
    }
}
/* Academic Slider */
.academicSlider {
    position: relative;
    overflow: hidden;
    display: flex;    

    .slider-container {
        flex:1;
        padding: 30px;
        display: flex;        
        justify-content: center;
        position: relative;

        .info-container {
            p { font-size: 1.3rem; line-height: 2rem; font-weight: 300; }
        }

        .lBtn-group { margin-top: 10px; }
        .img-slider { 
            position: absolute;
            top:0;               
            width: 100%;
            height: 100%;                   
            transition: 0.5s all ease-in-out;

            &:before {
                content: '';
                display: inline-block;
                position: absolute;                
                z-index:2;                                
                width: 0;
                height: 0;                
            }
            &:after {
                content: '';
                position: absolute;
                z-index: 1;
                top: 0; 
                left: 0;                    
                width: 100%; 
                height: 100%;                
            }
            img { 
                z-index: 0;
                width: 100%;
                min-height: 100%;
                object-fit: cover;
                -webkit-filter: grayscale(90%);
                filter: grayscale(90%);                
            }

            &.c1 { &:after { .color1(background, 0.3); }}
            &.c2 { &:after { .color2(background, 0.3); }}
            &.c3 { &:after { .color3(background, 0.3); }}

            &.t1 { &:after { .theme1(background, 0.3); }}
            &.t2 { &:after { .theme2(background, 0.3); }}
            &.t3 { &:after { .theme3(background, 0.3); }}
            &.t4 { &:after { .theme4(background, 0.3); }}
            &.t5 { &:after { .theme5(background, 0.3); }}

            &.solo { img { -webkit-filter: grayscale(0%); filter: grayscale(0%);} }
        }
    }

    &.right {
        flex-direction: row;
        .slider-container {
            flex-direction: column;
            .img-slider {
                left: 0;  
                &:before {
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%); 
                    border-top: 50px solid transparent;
                    border-left: 50px solid rgba(255,255,255,1);
                    border-bottom: 50px solid transparent;
                }
            }
        }
        &:hover { 
            background:rgba(255,255,255,0.3);            
            .img-slider { left: calc(100% - 0px); &:before { border-left: 50px solid rgba(133,131,184,1) !important;} }
        }
    }

    &.left {
        flex-direction: row-reverse;
        .slider-container {
            flex-direction: column;
            .img-slider {
                right:0;
                &:before {
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%); 
                    border-top: 50px solid transparent;
                    border-right: 50px solid rgba(255,255,255,1);
                    border-bottom: 50px solid transparent;
                }
            }
        }
        &:hover { 
            background:rgba(255,255,255,0.3);
            .img-slider { right: calc(100% - 0px); &:before { border-right: 50px solid rgba(133,131,184,1) !important;}}
        }
    }

    &.bottom {
        flex-direction: column;
        .slider-container {
            flex-direction: column;
            .img-slider {
                left:0;
                top:0;
                &:before {
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%); 
                    border-left: 50px solid transparent;
                    border-top: 50px solid rgba(255,255,255,1);
                    border-right: 50px solid transparent;
                }
            }
        }
        &:hover { 
            background:rgba(255,255,255,0.3);
            .img-slider { top: calc(100% - 0px); &:before { border-top: 50px solid rgba(133,131,184,1) !important;}}
        }
    }
    
    @media @mobile-device {
        &.bottom, &.left, &.right {
            flex-direction: column-reverse;
            .slider-container {
                flex-direction: column;
                .img-slider { 
                    left:0;
                    top:0;
                    overflow: hidden;
                    &:before {
                        top: initial;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%); 
                        border-left: 50px solid transparent !important;
                        border-bottom: 50px solid rgba(255,255,255,1);
                        border-right: 50px solid transparent !important;
                        border-top: 50px solid transparent !important;
                    }
                    img { height: 100%; width: initial;  min-width: 100%;}
                }
            }

            &:hover { 
                .img-slider { top: 0; &:before { border-bottom: 50px solid rgba(133,131,184,1) !important; } }
            }
        }
    }
}

/* Icon Overwrite */
.fa-times{ &:before { content: "\00d7" !important; } }

/* Mobile Nav */
.noscroll { overflow: hidden; }
.nav-body {
    position: relative;
    overflow-x: hidden;
}
.sidenav-container {
    display: none;
    position: fixed;
    top:0;
    left:100vw;
    z-index: 1001;
    width: 100vw;
    height: 100vh;
    background: rgba(52,58,64,1);
    transition: 0.5s all ease-in-out;
    padding: @navHeightBottom 15% 20px;
    color: rgba(255,255,255,1);

    .nav-close { 
        position: absolute;
        top: 40px;
        right: 20px;
        font-size: 40px; 
        opacity: 0;
        color: rgba(255,255,255,1);         
    }
    .sidenav-section {
        display: flex;
        flex-direction: column;        
        .sidenav-link { font-size: 25px; color: rgba(255,255,255,1) !important;}
        .sidenav-header-link {
            border: 3px solid rgba(255,255,255,.5);
            text-align: center;
            display: block;
            padding: 2px;
            font-size: 20px;
            color: rgba(255,255,255,1) !important;

            &+.sidenav-header-link { margin-top: 7px; }
        }
        
        &+.sidenav-section { margin-top: 40px;}
    }    

    &.active { 
        left:0; 
        .nav-close { 
            animation-name: background-appear; 
            animation-duration: 1.5s; 
            animation-delay: 0.7s;
            animation-fill-mode: forwards; 
        }
    }
    @media @mobile-device { display: block;}
}

/* Animation key frames */
@keyframes page-nav-slide {
    from {
        margin-top: @navHeightBottom;
    }
    to {
        margin-top: 0;
    }
}

@keyframes background-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}