.contactusHeader {
    position: relative;
    z-index: 2;
    background: rgba(220,220,220,1);

    .header-section {
        padding: 10px 5%;
        &.header-title {
            .solid-back {
                span {
                    .color2(background, 0.7);
                }
            }
            .backImg {
                &:before {.color2(background-color, 0.3);}
            }
            
            @media @mobile-device { 
                .btn-container { 
                    flex-direction: column !important;
                    .lBtn + .lBtn { margin-left: 0 !important;}
                }
            }
        }
    }
}

.contactus {    
    .contactus-section {
        margin-top: 50px;
        padding-bottom: 40px;
        .split-info {
            margin-top: 30px;
            display: flex;
            .split-img {
                width: 50%;
                padding-right: 20px;
                margin-top: auto;
                img {   
                    width: 100%;                  
                    border: 2px solid #ffffff;
                    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
                    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
                    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
                }
            }
            .split-txt { width: 50%; }
            .lgcu-form { flex: 1; }
            p{
                padding: 7px;
                font-size: 1.7rem;
                color: rgba(255,255,255,1);
                font-weight: 100;
            }

            @media @mobile-device {
                flex-direction: column;
                .split-img, .split-txt { width: 100%;}
            }
        }
    }
}