.facultyHeader {
    position: relative;
    z-index: 2;
    background: rgba(220,220,220,1);

    .header-section {
        padding: 10px 5%;
        &.header-title {
            .solid-back {
                span {
                    .color2(background, 0.7);
                }
            }
            .backImg {
                &:before {.color2(background-color, 0.3);}
            }
            
            @media @mobile-device { 
                .btn-container { 
                    flex-direction: column !important;
                    .lBtn + .lBtn { margin-left: 0 !important;}
                }
            }
        }
    }
}

.facultyPage {
    .faculty-section {
        padding: @navHeightBottom 0px 50px;
        position: relative;
        overflow: hidden;
        color: rgba(255,255,255,1);
        font-weight: 100;
        
        &.alternate { background: rgba(255,255,255,1); color: @color1; }
        .lrgTitle { margin-bottom: 20px; }
        .section-container {}

        .info-slider {
            .slider-card {
                &.bio-card { overflow-y: auto; }
                .title,.phone { font-size: 1.35rem; }
                .phone { margin-top: 10px; color: rgba(255,255,255,1);}
                .faculty-bio {
                    .bio-btn { 
                        font-size: 1.1rem; 
                        border: 2px solid @color1;
                        color: @color1;
                        padding: 3px 10px;
                        border-radius: 50px;
                        text-decoration: none;
                        transition: 0.5s all ease-in-out;
                        &:hover { .color1(background, 0.2); }

                        &.w1 { 
                            color: rgba(255,255,255,1); 
                            border-color: rgba(255,255,255,1); 
                            &:hover{ background: rgba(255,255,255,0.2); }
                        }
                    }
                    .bio-txt { margin-top: 5px; font-size: 1rem; background: rgba(50,50,50,0.2); padding: 5px; }
                }
            }
        }
    }
}