.facultyHeader {
    position: relative;
    z-index: 2;
    background: rgba(220,220,220,1);

    .header-section {
        padding: 10px 5%;
        &.header-title {
            .solid-back {
                span {
                    .color2(background, 0.7);
                }
            }
            .backImg {
                &:before {.color2(background-color, 0.3);}
            }
            
            @media @mobile-device { 
                .btn-container { 
                    flex-direction: column !important;
                    .lBtn + .lBtn { margin-left: 0 !important;}
                }
            }
        }
    }
}

.facultyPage {
    .faculty-section {
        padding: @navHeightBottom 0px 50px;
        position: relative;
        overflow: hidden;
        color: rgba(255,255,255,1);
        font-weight: 100;
        
        &.alternate { background: rgba(255,255,255,1); color: @color1; }
        .lrgTitle { margin-bottom: 20px; }
        .section-container {
            .indProfile {
                overflow: auto;                
                img { float: left; width: 400px; padding: 10px 20px 10px 10px; }                
                .info {
                    display: block;
                    font-size: 1.5rem;
                    margin-bottom: 15px;
                    &.title { font-size: 3rem; font-weight: bold; }
                    &.name { font-size: 2.2rem;  }
                }
                @media @mobile-device { text-align: center; .info { font-size: 1.3rem; } }
            }
        }

        .info-slider {
            .slider-card {
                .title { font-size: 1.35rem; }
            }
        }
    }
}